.button {
    background-color: #121212;
    color: #34C94B;
    border: none;
    border-radius: 12px;
    padding: 8px 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    height: 48px;
  }

  .button:hover {
    cursor: pointer;
  }