.button {
    background-color: var(--color-black);
    color: var(--color-primary);
    border: none;
    border-radius: 12px;
    padding: 8px 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    height: 48px;
    white-space: nowrap;
  }

  .button:hover {
    cursor: pointer;
  }