.button {
    background-color: var(--color-black);
    color: var(--color-primary);
    border: none;
    border-radius: 12px;
    padding: 8px 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: opacity 0.3s ease;
  }

  .button:hover {
    cursor: pointer;
    opacity: 0.9;
  }
