.hero {
    background-color: var(--color-black);
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding: 20px;
  }

  .heroContent h1 {
    color: var(--color-white);
    font-size: 32px;
    font-weight: 600;
    line-height: 1.5;
    margin: 0;
  }

  .heroImage img {
    display: block;
  }