.searchContainer {
    flex: 1;
    max-width: 570px;
    margin: 0 20px;
    position: relative;
  }

  .wrapper {
    display: flex;
    align-items: stretch;
    height: 48px;
    background-color: var(--color-white);
    border-radius: 8px;
  }

  .search {
    padding: 14px 20px;
    height: 100%;
    border-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 1px solid var(--color-black);
    width: 502px;
    flex: 1;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: var(--color-black);
    background-color: var(--color-white);
  }

  .search::placeholder {
    color: var(--color-black);
    opacity: 0.6;
  }

  .searchButton {
    border-radius: 0px 8px 8px 0px;
    padding: 14px 20px;
    height: 100%;
    border: 1px solid var(--color-black);
    border-left: none;
    cursor: pointer;
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .searchButton:hover {
    cursor: pointer;
  }

  .searchButton svg {
    width: 20px;
    height: 20px;
  }

  .listElement {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 1px solid rgba(52, 201, 75, 0.2);
  }

  .listElement:hover {
    background-color: rgba(52, 201, 75, 0.1);
  }

  .albumTitle {
    font-size: 16px;
    color: var(--color-white);
    font-weight: 500;
    margin: 0 0 4px 0;
  }

  .albumArtists {
    font-size: 12px;
    color: var(--color-white);
    opacity: 0.6;
    margin: 0;
  }